@import "tailwindcss";

@theme {
  --color-primary: #1978e5;
  --color-background-light: #ffffff;
}

:root {
  --background: var(--color-background-light);
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}
