@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #1978e5;
  --color-background-light: #f6f7f8;
  --color-background-dark: #111821;
  --font-display: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-slate-900;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
